#!/usr/bin/make -f
# This package is architecture independent.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

.PHONY: build build-arch build-indep
build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp:
	dh_testdir
	dh_auto_build
	touch build-stamp

.PHONY: clean
clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_auto_clean

.PHONY: install
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_auto_install

.PHONY: binary binary-indep binary-arch
binary: binary-indep binary-arch

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.
